{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Сброс пароля {% endblock %}
{% block content %}
    <div class="container"
         style="background-color: #aa0505; color: white; border-radius: 15px; font-family: 'Arial Black''">
        <h1 style="text-align: center">Поздравяляю!!! Вы успешно изменили пароль.</h1>
        <br>
        <div class="container">
            <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="{% url 'login' %}">Войти на сайт</a>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>

{% endblock %}