{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Сброс пароля {% endblock %}
{% block content %}
    <br>
    <div class="container"
         style="background-color: #feb566; border-radius: 15px; font-family: 'Arial Black'"><br>
        <h4 style="text-align: center; color: blue">Мы отправили вам на почту письмо, откройте письмо и следуйте инструкции для того
            чтобы изменить
            пароль!</h4>
        <div class="d-grid gap-2">
            <a class="btn btn-dark" href="{% url 'home' %}">На главную</a>
        </div>
        <br>
    </div>
{% endblock %}