{% extends 'base.html' %}
{% block title %} Успешная смена пароля {% endblock %}
{% block content %}
    <div style="background-color: yellow; text-align: center; border-radius: 15px" class="container">
        <h1>Поздравляю!!!Вы успешно обновили пароль.</h1>
        <h5><b>Сохраните свой пароль чтобы не забыть его!</b></h5>
        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-outline-primary" href="{% url 'home' %}">На главную</a>
        </div>
        <br>
    </div>

{% endblock %}