{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Смена пароля {% endblock %}
{% block content %}
    <h1>Смена пароля</h1>
    <p>Введите старый пароль и затем новый пароль дважды для подтверждения.</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-outline-success" type="submit" value="Изменить">
        <input class="btn btn-danger" type="reset" value="Очистить поля">
    </form>
{% endblock %}